html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    /*на строчные элементов не так хорошо работают многие разные свойства. Исправим это*/
    display: inline-block;
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

