//BUTTON ============================================================================
.btn {
  display: inline-flex;
  padding: 0 0;
  @media (min-width: $md2+px) {
    &:hover {
      
    }
  }
  &._fw {
    width: 100%;
  }
}

//INPUT  ===============================================================================