//<миксины>=====================================================================================================================
@import "mixins";
//</миксины>====================================================================================================================

//<шрифты>======================================================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</шрифты>=====================================================================================================================

//<Шрифт по умолчанию>==========================================================================================================
$fontFamily: Roboto, sans-serif;
//</Шрифт по умолчанию>=========================================================================================================

//<Переменные>==================================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>=================================================================================================================

//<Обнуление, Общие параметры>==================================================================================================
//@import "null";
html {
  overflow-y: scroll;
}

body {
  color: #000;
  font-size: 14px;

  &.lock {
    overflow: hidden;
  }

  font-family: $fontFamily;
}

//</Обнуление, Общие параметры>=================================================================================================

//<Оболочка>====================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {
  }
}

//</Оболочка>===================================================================================================================

//<ОСНОВНАЯ СЕТКА>==============================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
  //@media (max-width: $md1+px) {
  //  max-width: 970px;
  //}
  //@media (max-width: $md2+px) {
  //  max-width: 750px;
  //}
  //@media (max-width: $md3+px) {
  //  max-width: none;
  //  padding: 0 10px;
  //}
}

//</ОСНОВНАЯ СЕТКА>=============================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >=======================================================================
//@import "forms";
@import "ui";
// @import "normalize";
@import "null";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >======================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >==============================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "header";
//@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >=============================================================================


.page {
  padding: 183px 0 50px 0;
  flex: 1 1 auto;
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__side {
    flex: 0 0 260px;
  }

  &__menu {
  }

  &__content {
    flex: 1 1 auto;
    padding: 0 0 0 30px;
  }

  &__search {
  }
}

//===============================================================================
.catalog-menu {
  background-image: url("../images/bg_menu.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__head {
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-family: "UniSansHeavyCaps", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.75px;
  }

  &__burger {
    display: block;
    padding: 10px 6px;
    background-color: #068292;
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    // padding: 8px 6px;
  }

  &__burger-lines {
    position: relative;
    height: 16px;

    span {
      height: 2px;
    }
  }

  &__body {
    display: none;

  }

  &__list {
  }

  &__item {
    border-bottom: 1px solid #1aa7b9;
  }

  &__parent {
    .catalog-menu__link {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url("../images/icons/menu-arrow.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.active {
      .submenu__item {
        // left: 0;
        z-index: 2;
        transform: translateX(0);
      }

      .catalog-menu__link {
        background-color: #098494;
      }

      .catalog-menu__submenu {
        visibility: visible;
      }
    }
  }

  &__link {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 18px;
    width: 100%;
    padding: 15px 21px;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494;
      }
    }

    &._active {
      background-color: #098494;
    }
  }

  &__submenu {
    position: absolute;
    width: 280px;
    top: 0;
    left: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;

    .product {
      margin: 0 0 20px 0;
    }
  }
}

.submenu {

  &__item {
    border: 2px solid #098494;
    border-left: none;
    background-color: #fff;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 280px;
    top: 0;
    transition: all 0.3s ease 0s;
    transform: translateX(-100%);
  }

  &__menu {
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
    position: static;
    width: 100%;
    top: 0;
    left: 0;

    li {
    }
  }

  &__link {
    width: 100%;
    display: block;
    padding: 4px 20px 4px 40px;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.3px;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: #71c7d3;
        color: #fff;
      }
    }
  }

  &__products {
    padding: 11px 0 0 3px;
  }
}

//===============================================================================

.product {
  padding: 38px 11px 15px 23px;
  position: relative;
  background-color: #fff;

  &.special-offer {
    .product__labels,
    .special-offer {
      display: block;
    }
  }

  &.sale {
    .product__labels,
    .sale {
      display: block;
    }
  }

  &__labels {
    display: none;
    position: absolute;
    top: 0;
    left: 23px;
  }

  &__label {
    display: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #fd8424;
    padding: 0 15px;
    border-radius: 20px;
    margin: 0 0 10px 0;
    text-align: center;
    max-width: 250px;
  }

  .sale {
    background-color: #36949f;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  &__img {
    max-width: 100%;
    max-height: 175px;
  }

  &__body {
    padding: 0 0 0 14px;
  }

  &__title {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    transition: all 0.3s ease 0s;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
  }

  &__old-price {
    flex: 1 1 100%;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: line-through;
    text-align: right;

    &::after {
      font-size: 14px;
    }

    &.hidden {
      display: none;
    }
  }

  &__cart {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    @media (min-width: $md2+px) {
      &:hover {
        &::before {
          background-color: #36949f;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #e6e6e6;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
    }

    &::after {
      position: absolute;
      content: "";
      background: url("../images/icons/header/cart-default.png") center center no-repeat;
      width: 40px;
      height: 40px;
    }
  }

  &__price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;

    &::after {
      font-size: 18px;
      padding: 0 0 0 6px;
    }
  }
}

//===============================================================================

.search {
  display: flex;
  // .search__select
  &__select {
  }
  // .search__title
  &__title {
  }
  // .search__categories
  &__categories {
  }
  // .search__input
  &__input {
  }
  // .search__btn
  &__btn {
  }
}
.categories-search {
  // .categories-search__column
  &__column {
  }
  // .categories-search__list
  &__list {
  }
  // .categories-search__link
  &__link {
  }
}

.btn {
}
