@import "base/mixins";
@import "base/fonts";
@import "base/vars";

// <vendors + plugins>=================================
@import "base/vendors/vendors";

// <Общие параметры>===================================
@import "base/settings";

body {
  margin: 0;
  height: 100%;
  font-family: $fontFamily;
  font-size: 14px;
  color: var(--mainColor);
}

// Оболочка
.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

// Главный контейнер
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $maxWidthContainer + px;
}

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================
@import "components/global";
//@import "components/header";
//@import "components/footer";

// ===============================================================================
