@import "source/mixins";
@import "source/fonts";
@import "source/vars";

// <vendors + plugins>=======================
@import "vendors/vendors";

// <Общие параметры>=========================
@import "source/settings";

body {
  margin: 0;
  height: 100%;
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 13px;
  color: var(--mainColor);
  background-color: var(--color-white);
}

// Оболочка
.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

// Главный контейнер
.container {
  // max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 40px;
}

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И КОМПОНЕНТОВ>=========
@import "components/global";
@import "components/header";
@import "components/nav";
@import "components/logo";
//@import "components/footer";

// ===============================================================================
