* {
    box-sizing: border-box;
}

.container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.container__inside {
    width: 50px;
    height: 50px;
    background-color: green;
}
.container__inside:hover .container {
    background-color: blue;
}
