//=========================================================================
.header {
  background: url("../images/bg_header.jpg") top no-repeat;

  &__top {
  }

  &__bottom {
  }
}

.top-header {
  &__content {
    height: 90px;
    display: flex;
    align-items: center;
  }

  &__column {
    flex: 0 1 50%;

    &--logo {
      align-self: flex-start;
      flex: 0 0 190px;
      text-align: center;
      padding-top: 25px;
    }
  }

  &__menu {
  }

  &__logo {
  }

  &__img {
  }

  &__contacts {
  }
}

._container {
}

.menu {
  &__icon {
  }

  &__body {
  }

  &__list {
    display: grid;
    grid-template-columns: 110px 130px 180px;
    @media (max-width: $md1+px) {
      grid-template-columns: 90px 110px 160px;
    }

    li {
      margin-bottom: 2px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    color: #fff;
    padding: 0 22px;
    font-family: Play, sans-serif;
    font-size: 14px;
    font-weight: 700;
    // line-height: 18px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    @media (max-width: $md1+px) {
      padding: 0 10px;
    }

    span {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(#fff, 0.6);
        bottom: -1px;
      }
    }

    @media (min-width: $md2+px) {
      &:hover {
        border-radius: 20px;
        background-color: #068292;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0.5px 0px rgba(255, 255, 255, 1);
      }
    }
  }
}

.icon-menu {
}

.contacts-header {
  display: flex;
  justify-content: center;

  &__item {
    color: #fff;
    line-height: 18px;
    padding: 0 35px;
    @media (max-width: $md1+px) {
      padding: 0 15px;
      &--icon {
        padding-left: 25px;
        background-size: 10px;

        &::before {
          transform: scale(.8);
        }
      }
    }

    &--icon {
      border-right: 1px solid #fff;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 19px;
        height: 25px;
        background: url("../images/icons/header/phone.png") left no-repeat;
        left: 0;
        bottom: 5px;
        transition: all .3s ease 0s;
      }

      &:hover::before {
        transform: scale(1.2) rotate(20deg) translateY(-15%);
      }
    }
  }

  &__label {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &__phone {
    width: 147px;
    height: 13px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: $md1+px) {
      font-size: 16px;
    }
  }
}

.bottom-header {
  margin-top: 20px;

  &__container {
    display: flex;
    align-items: center;
    height: 63px;
    justify-content: space-between;
  }

  &__column {
    flex: 0 1 calc(50% - 100px);
    @media (max-width: $md1+px) {
      flex: 0 1 calc(50% - 80px);
    }
  }

  &__actions {
  }

  &__info {
  }
}

.actions-header {
  display: flex;
  align-items: center;

  li {
    &:not(:last-child) {
      margin: 0 54px 0 0;
      @media (max-width: $maxWidthContainer+px) { //FIXME: responsive margin (is it useful?)
        margin: 0 30 / $maxWidthContainer * 100vw 0 0;
      }
    }
  }

  &__item {
    display: inline-block;
    line-height: 24px;
    padding-left: 36px;
    color: #999999;
    transition: all .3s ease 0s;

    &:hover {
      color: #1ab9ce;
    }

    span {
      color: inherit;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      border-bottom: 1px dotted;
    }

    &--login {
      background: url('../images/icons/header/login-default.png') left no-repeat;

      &:hover {
        background: url('../images/icons/header/login-hover.png') left no-repeat;
      }
    }


    &--register {
      background: url('../images/icons/header/user-default.png') left no-repeat;

      &:hover {
        background: url('../images/icons/header/user-hover.png') left no-repeat;
      }
    }


    &--email {
      background: url('../images/icons/header/mail-default.png') left no-repeat;

      span {
        border-bottom: 1px solid;
      }

      &:hover {
        background: url('../images/icons/header/mail-hover.png') left no-repeat;
      }
    }
  }
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__column {
    &:not(:last-child) {
      padding: 0 40px 0 0;
      @media (max-width: $maxWidthContainer+px) { //FIXME: responsive padding (is it useful?)
        padding: 0 30 / $maxWidthContainer * 100vw 0 0;
      }
    }
  }


  &__callback {
    padding-left: 32px;
    display: inline-block;
    margin: 0 0 0 15px;
    color: #1ab9ce;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    background: url('../images/icons/header/callback.png') left no-repeat;

    span {
      border-bottom: 1px dotted #1ab9ce;
    }
  }


  &__schedule {
    padding: 0 0 0 36px;
    background: url('../images/icons/header/schedule.png') left no-repeat;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;

    span {
      font-weight: 900;
      line-height: 18px;
      padding: 0 2px 0 0;
    }
  }

  // .info-header__cart
  &__cart {
    display: inline-block;
    padding: 0 41px 0 0;
    width: 39px;
    height: 39px;
    position: relative;
    @media (max-width: 1200px) {
      padding: 0;
    }
    @media (min-width: 1201px) {
      &:hover {
        &::before {
          background-color: transparent;
        }

        span {
          right: 40px;
          top: -10px;
          z-index: 1;
        }

        &::after {
          z-index: 1;
          background: url('../images/icons/header/cart-hover.png') center center no-repeat;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #4da0b9;
      left: 0;
      top: 0;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      transition: all .3s ease 0s;
      @media (max-width: 1200px) {
        background-color: transparent;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background: url('../images/icons/header/cart-default.png') center center no-repeat;
      width: 39px;
      height: 39px;
      transition: all .3s ease 0s;
      @media (max-width: 1200px) {
        z-index: 1;
        background: url('../images/icons/header/cart-hover.png') center center no-repeat;
      }
    }

    span {
      position: absolute;
      padding: 0 12px;
      background-color: #f68038;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      height: 24px;
      line-height: 24px;
      border-radius: 20px;
      right: 5px;
      top: 0;
      z-index: 2;
      transition: all .3s ease 0s;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 0.5px 0 rgba(255, 255, 255, 1);
      @media (max-width: 1200px) {
        right: -1px;
        top: -10px;
        z-index: 1;
      }
    }
  }
}

@media (max-width: $md1+px) {
  //increasing specificity
  .webp .info-header {
    &__schedule {
      background: none;
      padding: 0;
    }
  }
  //increasing specificity
  .no-webp .info-header {
    &__schedule {
      background: none;
      padding: 0;
    }
  }
}

/*
//==BURGER-MENU========================================================
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}*/

