.box {
    width: 300px;
    height: 300px;
    border: 5px solid #f00;
    /* без указания relative элемент item улетит за пределы box */
    position: relative;
}

/* указываем общие для всех элементов стили */
.item {
    width: 40px;
    height: 40px;
    background-color: #ffc222;
    border-radius: 100%;
    position: absolute;
    font-size: 15px;
    line-height: 35px;
    font-weight: 700;
}

.item__1 {
    top: 50%;
    transform: translateY(-50%);
}

.item__2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item__3 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item__4 {
    left: 50%;
    transform: translateX(-50%);
}

.item__5 {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}