//<миксины>=====================================================================================================================
@import "source/mixins";

//<шрифты>======================================================================================================================
@import "source/fonts";

//<Переменные>==================================================================================================================
@import "vars";

//<Вендорные стили и плагины>==================================================================================================================
@import "vendors/normalize";
// @import "pages/swiper";

//<Общие параметры>==================================================================================================
@import "source/settings";

body {
  margin: 0;
  color: #000;
  //background-color: var(--color-white);
  font-family: $fontFamily;
  font-size: 14px;
  height: 100%;
}

//Оболочка
.site-container {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//Главный контейнер
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >=======================================================================
@import "source/forms";
//@import "ui";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >======================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >==============================================================================
//@import "vendor/nouislider";
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "global";
@import "header";
@import "footer";
@import "index";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >=============================================================================


//===============================================================================
