//<миксины>=====================================================================================================================
@import "source/mixins";
//</миксины>====================================================================================================================

//<шрифты>======================================================================================================================
//&display=swap&subset=cyrillic-ext
@import "source/fonts";
//</шрифты>=====================================================================================================================

//<Шрифт по умолчанию>==========================================================================================================
$fontFamily: Roboto, sans-serif;
//</Шрифт по умолчанию>=========================================================================================================

//<Переменные>==================================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>=================================================================================================================

//<Обнуление, Общие параметры>==================================================================================================
@import "source/null";
html {
  overflow-y: scroll;
  height: 100%;
}

body {
  color: #000;
  // background-color: #e1ad01;
  // background-color: #272822;
  font-size: 14px;
  //height: 100%;

  &.lock {
    overflow: hidden;
  }

  font-family: $fontFamily;
}

//</Обнуление, Общие параметры>=================================================================================================

//<Оболочка>====================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {
  }
}

//</Оболочка>===================================================================================================================

//<ОСНОВНАЯ СЕТКА>==============================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
  //@media (max-width: $md1+px) {
  //  max-width: 970px;
  //}
  //@media (max-width: $md2+px) {
  //  max-width: 750px;
  //}
  //@media (max-width: $md3+px) {
  //  max-width: none;
  //  padding: 0 10px;
  //}
}

//</ОСНОВНАЯ СЕТКА>=============================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >=======================================================================
@import "source/forms";
//@import "ui";
// @import "normalize";
// @import "pages/swiper";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ >======================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >==============================================================================
@import "plugins/nouislider";
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "global";
@import "header";
@import "footer";
@import "index";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ >=============================================================================


//===============================================================================
