%ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

%ubuntu-medium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

%ubuntu-bold {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}


%sf-light {
  font-family: "San-Francisco Pro", sans-serif;
  font-weight: 300;
}

%sf-regular {
  font-family: "San-Francisco Pro", sans-serif;
  font-weight: 400;
}

%sf-medium {
  font-family: "San-Francisco Pro", sans-serif;
  font-weight: 500;
}

%sf-semibold {
  font-family: "San-Francisco Pro", sans-serif;
  font-weight: 600;
}

%sf-bold {
  font-family: "San-Francisco Pro", sans-serif;
  font-weight: 700;
}

