@import "global";
@import "libs";
@import "fonts";
@import "vars";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 10;



  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    @extend %ubuntu-medium;
  }

  &__btn {
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    @include focus;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__phone {
    color: #fff;
    @extend %ubuntu-bold;
    font-size: 16px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }
}

.top {
  background-image: url('../images/page-bg-top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
    opacity: 0.4;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 25px;
  }

  &__img {
    width: 600px;
    height: 200px;
    margin-bottom: 25px;
  }

  &__text {
    line-height: 150%;
    max-width: 325px;
    margin-bottom: 35px;
  }

}

.socials {
  &__item {
    display: inline-block;
    & + & {
      margin-left: 50px;
    }
  }

  &__item {
    opacity: .5;
    @include focus;
    &:hover {
      opacity: 1;
    }
  }
}

.products {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
  }

  &__text {
    max-width: 440px;
    line-height: 25px;
    margin-top: 55px;

    & + & {
      margin-top: 35px;
    }
  }

  &__slider-box {
    position: relative;
    margin-top: 140px;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 280px;
      top: -15px;
      right: -17px;
      border: 4px solid #fff;
      z-index: -1;
    }
  }

  &__slider-text {
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    @extend %ubuntu-medium;
    max-width: 320px;
    left: -250px;
    bottom: 0;
    z-index: 1;
    background-color: #ececec;
    padding: 15px;
    color: #000;
    border: 3px double #000;
  }

  &__slider {
    max-width: 560px;
    position: relative;
  }

  &__slider-img {
    width: 560px;
    height: 300px;
  }

  &__slider-arrow {
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    outline: transparent;
    position: absolute;
    bottom: -50px;
    right: 0;
    cursor: pointer;
    svg path {
      stroke: #000;
    }
    &:hover {
      background-color: #ececec;
    }

    &.arrow-left {
      right: 62px;
    }

    &.slick-disabled {
      background-color: #000;
      svg path {
        stroke: #fff;
      }
    }
  }
}

.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;

    margin-top: 53px;
    padding-left: 30px;
  }

  &__item {
    display: flex;
    margin-bottom: 100px;
    max-width: 610px;
    align-items: flex-end;
    &:nth-child(even) {
      margin-top: 30px;
      margin-left: 40px;
    }
    &:nth-child(odd) {
      margin-left: 30px;
      align-self: flex-start;
    }

    &:nth-child(1),
    &:nth-child(3) {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 48px;
        width: 245px;
        background-image: url('../images/1-2.svg');
        top: 27px;
        right: -55px;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    &:nth-child(3) {
      padding-left: 25px;
      &::before {
        top: 40px;
        right: -55px;
      }
      &::after {
        position: absolute;
        content: "";
        height: 65px;
        width: 463px;
        background-image: url('../images/2-3.svg');
        top: -85px;
        right: -15px;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
  }

  &__num {
    @extend %ubuntu-bold;
    font-size: 36px;
    line-height: 41px;
    margin-right: 8px;
  }

  &__img {
    position: relative;
    width: 195px;
    height: 130px;
    margin-right: 32px;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 130px;
      top: -12px;
      right: -12px;
      border: 2px solid #fff;
      z-index: -1;
    }
  }

  &__info {
    max-width: 300px;
  }

  &__info-title {
    max-width: 123px;
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    line-height: 18px;
    @extend %ubuntu-light;
  }
}

.specification {
  &__inner {
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-left: 60px;
  }

  &__item {

  }

  &__box {
    position: relative;
    max-width: 280px;
    margin-bottom: 140px;
  }

  &__box-title {
    font-size: 21px;
    line-height: 28px;
    @extend %ubuntu-bold;
    margin-bottom: 10px;
  }

  &__text {
    @extend %ubuntu-light;
    font-size: 15px;
    line-height: 19px;
    margin: 0;
  }

  //&__img {
  //  margin-top: 90px;
  //}
}








@import "media";