@import "global";
@import "libs";
@import "fonts";
@import "vars";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 10;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    @extend %ubuntu-medium;
  }

  &__btn {
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    @include focus;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__phone {
    color: #fff;
    @extend %ubuntu-bold;
    font-size: 16px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }
}

.top {
  background-image: url('../images/page-bg-top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
    opacity: 0.4;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 25px;
  }

  &__img {
    width: 600px;
    height: 200px;
    margin-bottom: 25px;
  }

  &__text {
    line-height: 150%;
    max-width: 325px;
    margin-bottom: 35px;
  }

}

.socials {
  &__item {
    display: inline-block;
    & + & {
      margin-left: 50px;
    }
  }

  &__item {
    opacity: .5;
    @include focus;
    &:hover {
      opacity: 1;
    }
  }
}







@import "media";