html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.box {
    width: 400px;
    height: 400px;
    background-color: tomato;
    padding-left: 50px;
    border: 10px solid black;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33.3%;
    /*float: right;*/
    height: 50px;
    border: 2px solid #000;
    background-color: green;
}