@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic");

body {
    margin: 0 auto;
    width: 50%
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5em;
}

h1 {
    font-size: 32px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

figure {
    float: right;
}

figcaption {
    font-style: italic;
}


