html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.box {
  background-color: cadetblue;
  width: 300px;
  height: 300px;
  border: 5px solid #000;
  margin-bottom: 10px;
}

.inner {
  display: flex;
  justify-content: space-around;
}
