// COLORS
$mainColor: #000;
$accentColor: #36949f;

//<Шрифт по умолчанию>==========================================================================================================
$fontFamily: Roboto, sans-serif;

//<Переменные контейнера>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;