@media (max-width: 960px) {
    .slider-bottom__inner {
        margin: 0;
    }
}

@media (max-width: 650px ) {
    .nav__btn-menu {
        display: block;
    }

    .nav__list {
        display: none;
        margin-top: 20px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 50;
    }

    .nav__list li + li {
        margin-left: 0;
    }

    .nav {
        padding-top: 24px;
    }

    .header__inner {
        flex-direction: row-reverse;
    }
    
    .nav__item {
        width: 100%;
        text-align: center;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
    }

    .nav__link {
        display: block;
        background-color: #f1f1f1;
        padding: 13px 0 15px;
        border-left: 10px solid #f3af9d;

        color: #929292
    }
}

@media (min-width: 650px) {
    .nav__list {
        display: block !important;
    }
}