html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', monospace;
    font-size: 12px;
    background: url("../images/bg.png");
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo__link {
    padding: 22px 0;
}

.logo__img {
    max-width: 87px;
}

.logo__highlight {
    color: #f3af9d;
}

.nav {
    padding: 33px 0 28px;
}

.nav__btn-menu {
    display: none;
    font-size: 30px;
    color: #e8663c;
}

.nav__list li + li {
    margin-left: 27px;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-size: 16px;
    color: #b9b9b9;
    transition: all .3s;
}

.nav__link--active,
.nav__link:hover {
    color: #e8663c;
}

/* ----x---- SLIDER SECTION ----x---- */
.slider-top {
    position: relative;
}

.ears::before,
.ears::after {
    position: absolute;
    content: '';
    top: 0;
    width: calc((100% - 960px)/2);
    height: 61px;
    background-color: rgba(232, 96, 60, 0.502);
}

.ears::before {
    left: 0;
}

.ears::after {
    right: 0;
}

.slider-top__inner {
    padding-bottom: 17px;
}


.slider-top__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 400px;
}

.slick-prev {
    left: 0;
    z-index: 3;
}

.slick-prev:before {
    position: absolute;
    left: 27px;
    bottom: 7px;
    content: url('../images/previous.png');
}

.slick-next {
    right: 30px;
}

.slick-next:before {
    position: absolute;
    content: url('../images/next.png');
    left: -6px;
    bottom: 7px;
}

.slider-top__text {
    background-color: rgba(232, 102, 60, .8);
    max-width: 413px;
    padding: 22px 19px 24px;
    position: absolute;
    bottom: 32px;
    left: 36px;
}


.slider-top__title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.slider-top__subtitle {
    font-family: HelveticaNeue, sans-serif;
    color: #fff;
    font-size: 12px;
}

.slider-bottom__inner {
    padding-bottom: 39px;
    text-align: center;
    margin: 0 -10px;
}

.slider-bottom__item {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 140px;
    min-height: 120px;
    /*margin-right: 20px;*/
    cursor: pointer;
}

/* ----x---- INFO SECTION ----x---- */

.info__inner {
    display: flex;
    justify-content: space-between;
}

.info {
    padding-bottom: 45px;
}

.info__title {
    position: relative;
    padding-left: 67px;
    color: #e8663c;
    font-size: 18px;
    line-height: 24px;
    max-width: 280px;
}

.icon {
    position: absolute;
    left: 0;
    top: 5px;
    transition: all 1s;
}

.icon:hover {
    transform: rotate(-90deg);
}

.info__text {
    margin: 30px 0 30px;
    max-width: 280px;
    font-family: HelveticaNeue, sans-serif;
    line-height: 18px;
    color: #414141;
}

.info__btn {
    line-height: 24px;
    padding: 5px 15px 5px 13px;
    background-color: #e8663c;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.4s;
}

.info__btn:hover {
    background: #fff;
    border: 1px solid #e8663c;
    color: #e8663c;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.4s;
}


/* ----x---- WORKS SECTION ----x---- */

.works {
    padding-bottom: 50px;
}

.works__header {
    background-image: url('../images/recent-works-bg.png');
    margin-bottom: 25px;
}

.works__header-text {
    background-color: #fff;
    font-size: 18px;
    color: #e8603c;
    padding-right: 20px;
}

.works__inner {
    display: flex;
    justify-content: space-between;
}

.works__item {
    max-width: 220px;
}

.works__img {
    display: block;
}

.works__text {
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 12px 0 12px 14px;
}

.works__title {
    color: #b9b9b9;
    font-size: 16px;
    line-height: 18px;
    /*margin-bottom: 6px;*/
}

.works__date {
    margin-top: 6px;
    color: #e8663c;
    font-size: 11px;
    line-height: 18px;
}

/* ----x---- FOOTER SECTION ----x---- */

.footer {
    position: relative;
}

.footer.ears::before,
.footer.ears::after {
    height: 100%;
}

.footer__inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    background-color: #e8663c;
    padding: 36px 36px 32px 36px;
}

.footer__title {
    font-size: 20px;
    margin-bottom: 26px;
}


.footer__text {
    max-width: 260px;
    margin-top: 16px;
    font-family: HelveticaNeue, sans-serif;
}

.footer__twitter-text {
    max-width: 225px;
}

.twitter-name-link,
.footer__twitter-time {
    font-family: HelveticaNeue-Light, sans-serif;
    color: #f3b29d;
}

.footer__email,
.footer__phone {
    color: #fff;
}

.footer__socials-list {
    margin-top: 20px;
}

.footer__socials-list li+li {
    margin-left: 5px;
}

.footer__socials-item {
    display: inline-block;
}








