html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas', monospace;
    font-size: 12px;
    background: url("../images/bg.png");
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo__link {
    padding: 21px 0;
}

.logo__highlight {
    color: #f3af9d;
}

.nav {
    padding: 33px 0 28px;
}

.nav__list li + li {
    margin-left: 27px;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-size: 16px;
    color: #b9b9b9;
    transition: all .3s;
}

.nav__link--active,
.nav__link:hover {
    color: #e8663c;
}

/* SLIDER section */
.slider-top {
    position: relative;
}

.ears::before {
    position: absolute;
    left: 0;
    content: '';
    width: calc((100% - 960px)/2);
    height: 61px;
    background-color: rgba(232, 96, 60, 0.502);
}

.ears::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: calc((100% - 960px)/2);
    height: 61px;
    background-color: rgba(232, 96, 60, 0.502);
}

.slider-top__inner {
    padding-bottom: 17px;
}


.slider-top__item {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 400px;
}

.slick-prev {
    left: 0;
    z-index: 3;
}

.slick-prev:before {
    position: absolute;
    left: 27px;
    bottom: 7px;
    content: url('../images/previous.png');
}

.slick-next {
    right: 30px;
}

.slick-next:before {
    position: absolute;
    content: url('../images/next.png');
    left: -6px;
    bottom: 7px;
}

.slider-top__text {
    background-color: rgba(232, 102, 60, .8);
    max-width: 413px;
    padding: 22px 19px 24px;
    position: absolute;
    bottom: 32px;
    left: 36px;
}


.slider-top__title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.slider-top__subtitle {
    font-family: HelveticaNeue, sans-serif;
    color: #fff;
    font-size: 12px;
}

.slider-bottom__inner {
    padding-bottom: 39px;
}

.slider-bottom__item {
    background-repeat: no-repeat;
    background-position: top center;
    width: 140px;
    min-height: 120px;
    margin-right: 20px;
    cursor: pointer;
}

/* ----x---- INFO SECTION ----x---- */

.info__inner {
    display: flex;
    justify-content: space-between;
}

.info {
    padding-bottom: 45px;
}

.info__title {
    margin-left: 20px;
    display: inline-block;
    color: #e8663c;
    font-size: 18px;
    line-height: 24px;
    max-width: 200px;
}

.info__text {
    margin: 30px 0 30px;
    max-width: 300px;
    font-family: HelveticaNeue, sans-serif;
    line-height: 18px;
    color: #414141;
}

.info__btn {
    line-height: 24px;
    padding: 5px 15px 5px 13px;
    background-color: #e8663c;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.4s;
}

.info__btn:hover {
    background: #fff;
    border: 1px solid #e8663c;
    color: #e8663c;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.4s;
}


/* ----x---- RECENT WORKS SECTION ----x---- */

.recent__header {
    font-size: 18px;
    color: #e8603c;
    padding-bottom: 25px;
}

.recent__header::after {
    content: '';
    height: 19px;
    width: 900px;
    background-image: url("../images/recent-works-header-line.png");
    background-repeat: repeat-x;
    background-size: cover;
    padding-left: 20px;
}






