// HEADER :: START
header.header
  .container
    .header__top.top-header
      .top-header__logo-box
        img.top-header__logo.logo(src="images/icons/logo.svg" alt="logo")
        .top-header__info Изготовление автоключей
          span Скорая техпомощь на дорогах
      .top-header__actions
        select.top-header__select
          option Москва
          option Санкт-Петербург
        a.top-header__login Вход / Регистрация
      .top-header__contacts
        .top-header__phone
          a(href="tel:+74951351511") +7 (495) 135-15-11
          .top-header__label Круглосуточно
        button.top-header__btn.btn.btn--master Консультация мастера
