html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Блок, который будет хранить в себе всю информацию и будет центрироваться*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    /*Чтобы он не прилипал к бокам на телеф и планшетах */
    /*    Зарезевируем паддинги боковые */
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: #5e5e5e;
}

header {
    font-family: Roboto, sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    font-size: 16px;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    display: block;
    position: relative;
}

.header__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 21px;
    color: #1b1b1b;
}

/*Если один элемент куда-то отправляем через float, то обязательно нужно делать вот такое решение для родительского
блока */
.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    line-height: 45px;
    color: #cbcacb;
    letter-spacing: 0.25px;
    position: relative;
}

.header__phone {
    padding-right: 20px;
    padding-left: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 34px 0 23px;
}

.menu li {
    display: inline-block;

}
/*все f*/
/* все li кроме первой отступят друг от друга на 10px */
.menu li + li {
    padding-left: 10px;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    /* резервируем место для рамки, чтобы потом кнопка не сдвигалась на ширину рамки */
    border: 1px solid transparent;
    padding: 0 16px;

    transition: all 0.3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

#modal {
    display: none;
}

.slider {
    background-image: url("../img/slider-fon-1.jpg");
    /* стандартный набор для background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    padding-top: 110px;
    text-align: center;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default__btn {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}

.default__btn:after {
    content: "\f105";
    font-family: 'icomoon';
    color: #fff;
    position: absolute;
    right: -13px;
    /* чтобы стрелка центрировалась всегда вертикально, независимо от кол-во строк текста в кнопке */
    /* опускаем сначала на 50%*/
    top:50%;
    /* потом поднимаем на 50%, в итоге элемент встает по центрируется по высоте */
    transform: translateY(-50%);
}

/* будем позиционировать слайдер относительно этого блока */
.slider__inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    /* кнопка была спрятана под другим блоком - надо выдвинуть ее на передний план */
    z-index: 3;
    /* делаем фоны кнопок */
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #ffc222 ;
    /* делаем руку в виде указателя */
    cursor: pointer;
    /* убираем синее обрамление кнопок слайдера */
    outline: none;
}

.slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
}

.slick-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #fff;
}

.slick-next {
    right: 0;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev {
    left: 0;
}

.slick-prev:before {
    content: "\f104";
}

.services {
    padding: 50px 0 30px;
}

.services__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.title-box {
    /*резервируем место для полоски и текста справа */
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.title-box:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11%;
}

.title-box-title {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #212020;
    margin-bottom: 10px;
}

.title-box-text {
    letter-spacing: 0.1px;
}

.services__btn a {
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 10px 40px;
    border: 3px solid #e6e6e6;
    font-family: Roboto, sans-serif;
    color: #373636;
    /* плавный выход из под наведения на кнопку */
    transition: all 0.7s;
}

.services__btn a:hover {
    background-color: #ffc222;
    border-radius: 10px;
    transition: all, 1s;

}

/* Эффект при кликании */
.services__btn:active {
    transform: scale(1.05);
}

.services__items {
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
}

.services__item {
    background-color: #f9f9f9;
    max-width: 360px;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    max-height: 375px;
    /* этот круче */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*оригинальный */
    /*box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);*/
}

.services__item-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #212020;
    line-height: 25px;
    padding: 24px 0;
}

.services__item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
}

.services__item-btn {
    position: absolute;
    bottom: 40px;
    /* центрируем элементы внутри блока */
    left:0;
    right:0;
}

/* селектор потомка (выберет только элемент с классом .default__btn, который находится в классе .services__item-btn*/
.services__item-btn .default__btn {
    color: #373636;
    letter-spacing: 0.25px;
}

.services__item-link {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #050505;
    position: relative;
    margin-right: 60px;;
}
/* подчеркивание задано как отдельный элемент, чтобы прилегал ближе к тексту, чем underline */
.services__item-link:after {
    content: "";
    height: 1px;
    background-color: #050505;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
}

.about {
    background-image: url("../img/about-fon.jpg");
    /* стандартный набор для background image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    padding: 30px 0 45px;
}

.about__title {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.about__text {
    line-height: 24px;
    letter-spacing: 0.1px;
    padding-bottom: 38px;
    color: #d3d2d2;
}

.about__title-inner {
    max-width: 570px;
    padding-left: 15px;
}

.about__btn.default__btn:after {
    color: #000;
}

.form__content {
    padding: 40px 0;
}