@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'HKGrotesk';
    src: url('../fonts/HKGrotesk-Regular.woff2') format('woff2');
         url('../fonts/HKGrotesk-Regular.woff') format('woff');
         url('../fonts/HKGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rokgad');
    src:  url('../fonts/icomoon.eot?rokgad#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rokgad') format('truetype'),
    url('../fonts/icomoon.woff?rokgad') format('woff'),
    url('../fonts/icomoon.svg?rokgad#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
    content: "\f0c9";
}
