.forms {
  &__row {
    margin: 0 0 30px;
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.btn {
  display: inline-block;
  border: 1px solid var(--accent);
  border-radius: 38px;
  padding: 17px 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  background-color: var(--accent);
  transition: all 0.3s ease 0s;

  @media (min-width: $md2 + px) {
    &:hover {
      background-color: var(--accent-hover);
    }
  }

  &--master {
    color: var(--mainColor);
    background-color: transparent;

    @media (min-width: $md2 + px) {
      &:hover {
        color: var(--white);
        background-color: var(--accent);
      }
    }
  }
}

.tabs {
  &__tab-box {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid var(--lightGrey);
  }

  &__tab {
    position: relative;
    margin: 0 65px 0 0;
    padding: 0 0 26px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: var(--accent);
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }

    &._active {
      position: relative;
      color: var(--mainColor-hover);

      &::before {
        transform: scale(1);
      }
    }

    @media (min-width: $md2+px) {
      &:hover {
        color: var(--mainColor-hover);
      }
    }
  }

  &__content-box {

  }

  &__content {

  }
}

.slider-control {
  display: flex;

  &__arrow {
    width: 9px;
    height: 18px;
    cursor: pointer;
    @media (min-width: $md2+px) {
      &:hover {
        stroke: red;
      }
    }
  }

  &__prev {

  }

  &__next {
    transform: rotate(180deg);
  }

  &__count {
    margin: 0 26px;
  }
}
