html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    text-transform: uppercase;
    max-width: 585px;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 38px;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 28px 0 17px;
    border: 6px solid #ef6400;
    border-radius: 7px;
    padding: 10px 17px 10px 13px;
}

.header-text {
    display: inline-block;
    padding-top: 5px;
}

.nav{
    display: inline-block;
    border: 6px solid #00a7ef;
    border-radius: 7px;
    padding: 0 140px;
}

.main {
    border: 6px solid #ef0000;
    border-radius: 7px;
    padding: 28px 17px 0 10px;
}

.section {
    border: 6px solid #00ae5b;
    border-radius: 7px;
}

.figure {
    display: inline-block;
    border: 6px solid #0084ae;
    border-radius: 7px;
    padding: 18px 173px 18px 26px;
}