<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>
<body>
  <section class="forms">
    <div class="container">
      <div class="global__inner">
        <div class="forms__row">
          <h1 class="title-h1">Заголовок h1</h1>
        </div>
        <div class="forms__row">
          <h2 class="title-h2">Заголовок h2</h2>
        </div>
        <div class="forms__row">
          <h3 class="title-h3">Заголовок h3</h3>
        </div>
        <div class="forms__row">
          <h4 class="title-h4">Заголовок h4</h4>
        </div>
      </div>
      <div class="forms__row">
        <button class="btn">Позвонить мне</button>
      </div>
      <div class="forms__row">
        <button class="btn btn--master">Вызвать мастера</button>
      </div>
      <div class="forms__row">
        <div class="tabs _tabs">
          <div class="tabs__tab-box">
            <h4 class="tabs__tab _tabs-item _active">Характеристика товара</h4>
            <h4 class="tabs__tab _tabs-item">Теги</h4>
            <h4 class="tabs__tab _tabs-item">Отзывы</h4>
          </div>
          <div class="tabs__content-box">
            <div class="tabs__tab-content _tabs-content _active"></div>
            <div class="tabs__tab-content _tabs-content"></div>
            <div class="tabs__tab-content _tabs-content"></div>
          </div>
        </div>
      </div>
      <div class="forms__row">
        <div class="slider-control">
          <svg class="slider-control__arrow slider-control__prev">
            <use xlink:href="images/svgSprite.svg#angle-left"></use>
          </svg>
          <div class="slider-control__count">1/6</div>
          <svg class="slider-control__arrow slider-control__next">
            <use xlink:href="images/svgSprite.svg#angle-left"></use>
          </svg>
        </div>
      </div>
      <div class="forms__row">

      </div>
      <div class="forms__row">

      </div>
    </div>
  </section>
  <script src="js/libs.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>
