<!--HEADER :: START-->
<header class="header">
  <div class="container">
    <div class="header__top top-header">
      <div class="top-header__logo-box">
        <img class="top-header__logo logo" src="images/icons/logo.svg" alt="logotype">
        <div class="top-header__info">
          Изготовление автоключей
          <span>Скорая техпомощь на дорогах</span>
        </div>
        <div class="top-header__actions">
          <select class="top-header__select">
            <option>Москва</option>
            <option>Санкт-Петербург</option>
          </select>
          <a class="top-header__login" href="">Вход | Регистрация</a>
        </div>
        <div class="top-header__contacts">
          <div class="top-header__phone">
            <a href="tel:+74951351511">+7 (495) 135-15-11</a>
            <div class="top-header__label">Круглосуточно</div>
          </div>
          <a class="top-header__btn btn btn--master" href="">Консультация мастера</a>
        </div>
      </div>
    </div>
  </div>
</header>
